@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
}

body {
  @apply bg-background text-foreground typo-body-16;
}

:root {
  --primary: 162 93% 36%;

  --background: 250 89% 5%;
  --surface: 250 38% 10%;
  --surface-accent: 250 24% 17%;

  --foreground: 0 0% 100% / 0.88;
  --foreground-accent: 0 0% 100%;
  --foreground-muted: 0 0% 100% / 0.67;
  --foreground-subtle: 0 0% 100% / 0.4;

  --border: 251 47% 12%;
}
